
@{
    ViewBag.Title = "AccelpOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="checkout-modal" id="checkout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin: 200px auto">
        <div class="modal-content">
            <h3>Cảm ơn quý khách</h3>
            <p>Đơn hàng của quý khách đã được chúng tôi ghi nhận</p>
            <a href="/Product/Index"><input type="button" class="btn" data-dismiss="modal"></input></a>
        </div>
    </div>
</div>