
@{
    ViewBag.Title = "CheckoutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="checkout-modal" id="checkout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin: 100px auto; text-align:center">
        <div class="modal-content">
            <h3>Cảm ơn quý khách</h3>
            <p>Đơn hàng của quý khách đã được thanh toán thành công</p>
            <a href="/Home/Index">
                <input type="button" class="btn" data-dismiss="modal" value="Trở về trang chủ"/>
            </a>
        </div>
    </div>
</div>
