
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="checkout-modal" id="checkout-modal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document" style="margin: 100px auto; text-align:center">
    <div class="modal-content">
        <h3>Đăng Ký Thành Công</h3>
        <a href="/Login/Index">
            <input type="button" class="btn" value="Trở về trang đăng nhập" />
        </a>
    </div>
</div>
</div>